@font-face {
  font-family: "Pretendo";
  src: url(../assets/Pretendo.ttf);
}
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}
@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shake {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse2 {
  0% {
    filter: invert(1);
  }
  50% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}
@keyframes pulse2 {
  0% {
    filter: invert(1);
  }
  50% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}
@-webkit-keyframes fade-out {
  0% {
    left: 0;
    opacity: 1;
  }
  86% {
    opacity: 1;
    transform: translateX(0px);
  }
  95% {
    transform: translateX(-250px);
    opacity: 0;
    left: 0;
  }
  100% {
    position: absolute;
    left: -100%;
  }
}
@keyframes fade-out {
  0% {
    left: 0;
    opacity: 1;
  }
  86% {
    opacity: 1;
    transform: translateX(0px);
  }
  95% {
    transform: translateX(-250px);
    opacity: 0;
    left: 0;
  }
  100% {
    position: absolute;
    left: -100%;
  }
}
@-webkit-keyframes intro {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
.intro {
  overflow: hidden;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: fade-out 7s normal;
          animation: fade-out 7s normal;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  left: -100%;
}
.intro__image {
  -webkit-animation: intro 2s;
          animation: intro 2s;
  padding: 3%;
  height: 95vh;
}

body {
  margin: 0;
}

.background {
  background: #5340a0;
  background: linear-gradient(0deg, #5340a0 5%, #4d1b7e 9%, #36257a 11%, #441979 36%, #822f84 39%, #4a237a 45%, #4b277f 69%, #5340a0 77%);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 0;
}

.player-selector {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.player-selector__top {
  background-image: url("../assets/pokemon_bar.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  max-height: 50%;
  padding: 2.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.player-selector__bottom {
  box-sizing: border-box;
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-selector__versus {
  max-width: 20%;
  filter: invert(1);
  transition: 0.5s;
  -webkit-animation: pulse2 9s ease-in 0s infinite normal forwards;
          animation: pulse2 9s ease-in 0s infinite normal forwards;
}

.player-one {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.player-one__sprite, .player-one__sprite--flipped {
  padding: 15px;
  min-height: 290px;
  min-width: 290px;
  max-height: 280px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-animation: pulse 4s ease-in 0s infinite normal forwards;
          animation: pulse 4s ease-in 0s infinite normal forwards;
}
.player-one__sprite--flipped {
  transform: scaleX(-1);
}
.player-one__input {
  font-family: pretendo;
  font-size: 1.2rem;
  width: 20rem;
  padding: 8px 12px;
  border: 4px solid red;
  border-radius: 24px;
  text-align: center;
  outline: none;
  transition: 0.5s;
}
.player-one__input:hover {
  background-color: #969696;
}
.player-one__input:focus {
  background-color: #e1e1e1;
}
.player-one__input::-moz-placeholder {
  color: red;
  text-align: center;
}
.player-one__input:-ms-input-placeholder {
  color: red;
  text-align: center;
}
.player-one__input::placeholder {
  color: red;
  text-align: center;
}
.player-one__selections {
  box-sizing: border-box;
  display: inline-flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 506px;
  min-width: 506px;
  min-height: 212px;
  max-height: 212px;
  padding: 4px;
  border-radius: 4px;
  border: 4px solid #e6e6e6;
}
.player-one__selections::-webkit-scrollbar {
  display: none;
}
.player-one__option, .player-one__option--active, .player-one__option--flipped {
  border: 4px solid #e6e6e6;
  background-color: #fea435;
  width: 20%;
  height: 50%;
  box-sizing: border-box;
  transition: 0.5s;
}
.player-one__option--flipped {
  transform: scaleX(-1);
}
.player-one__option--active {
  border: 4px solid red;
  -webkit-animation: shake 1s ease 0s infinite normal forwards;
          animation: shake 1s ease 0s infinite normal forwards;
}
.player-one__option:hover, .player-one__option--flipped:hover, .player-one__option--active:hover {
  cursor: crosshair;
  background-color: #b67424;
}

.button {
  font-family: pretendo;
  color: red;
  background-color: black;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  min-width: 9rem;
  padding: 6px 18px;
  border-width: 2px;
  border: 5px solid #737373;
  border-radius: 22px;
  overflow: hidden;
  height: 3rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.button:hover {
  color: #cdcdcd;
  border-color: red;
  cursor: pointer;
}

.selection-music {
  position: absolute;
  bottom: 2%;
  right: 2%;
  height: 2rem;
  width: 2rem;
  display: none;
}/*# sourceMappingURL=index.css.map */